.sexo{
    font-size: 40px;
}
.estiloNumero{
    font-size: 32px;
    font-weight: 800;
    margin-top: -30px;
}
.cm{
    font-weight: normal;
    font-size: medium;
    margin-left: -5px;
}
.form-range{
    padding: 0px 20px;
}
input[type=range]::-moz-range-thumb {
    background: #FF3366;
}
.sumaResta{
    font-size: 150%;
    cursor: pointer;
    background-color: #FF4C4F5E;
    border-radius: 15px;
    padding: 0px 4px;
    margin: 2px;
    &:hover{
        opacity: 0.9;
    }
}
.sexoDesactivado{
    background-color: #7D2F2F33;
}

